<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #application-static-resources},
                                                ~{:: #application-header},
                                                ~{:: #application-nav},
                                                ~{:: #application-main-content},
                                                ~{:: #application-footer}
                                               )">

<head>
  <title>Подать заявку</title>

  <th:block id="application-static-resources">

    <!--    <script type="text/javascript" src="../static/home.js" th:src="@{/home.js}"></script>-->
    <!--    <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}"/>-->

  </th:block>

</head>
<body>

<div id="application-header">
  <span th:text="${name}"></span><a th:href="@{/exit}">Выход</a>

</div>

<div id="application-nav" th:replace="(${isTypeUser} == 'client' ? ~{/fragments/app-fragments :: nav-client} : ~{/fragments/app-fragments :: nav-master}) ">
  Home Nav
</div>

<div id="application-main-content">
  <h2>Форма отклика на заявку</h2>
  <form id="form_application" action="#" th:action="@{'/master/application/'+${id_app}+'/response'}" th:object="${response}" method="POST">
    <p>Цена:<input type="text" th:field="*{price}" size="15" maxlength="30"></p>
    <p>Дата исполнения:
      <input type="date" th:value="*{date}" th:field="*{date}"/>
    </p>


    <input type="submit" name="Откликнутся">
  </form>
</div>


<div id="application-footer" th:replace="/fragments/app-fragments :: footer"></div>


</body>
</html>